
        <div class='row container'>
            <div class='twelve columns'>
                <div class='row'>
                    <div class='eight columns centered center' id='title'>
                        <h3>Compare two Github accounts even though comparing is bad but it can be fun.</h3>
                    </div>
                </div>
                <form id='users'>
                    <div class='row'>
                        <div class='five columns user user1'>
                            <input type='text' name='user_1' class="login-input" value='adichat'/>
                        </div>
                        <div class='two columns vs center'>
                            <h2>💪</h2>
                        </div>

                        <div class='five columns user user2'>
                            <input type='text' name='user_2' class="login-input" value='muan'/>
                        </div>

                    </div>
                    <div class='row submit-container'>
                        <div class='six columns centered'>
                            <div id='submit' class='center'>Compare</div>
                        </div>
                    </div>
                
                </form>

                <div class='row winner-container' style='display: none;'>
                    <div class='result_1 score six columns'>
                        <h3 class='center'></h3>
                        <h2 class='center'>0</h2>
                    </div>
                    <div class='result_2 score six columns'>
                        <h3 class='center'></h3>
                        <h2 class='center'>0</h2>
                    </div>
                </div>

                <div class='row graphs-container' style='display: none;'>
                </div>
                                
            </div>
        </div>

        <a id="forkMe" href="https://github.com/AdiChat/Repository-Hunter">Star me on GitHub</a>
        
    </body>
</html>