<!doctype html>
<html>

<body>
  <div id="head">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


        <form>
          <h1>
            Recently opened issues on GitHub. Let us resolve them now and show everyone our speed. 🎉 
          </h1>    
        </form>
        <div id="data" class="clearfix"></div>
  </div>
  


<script type="text/javascript">
  $(function(){
    var $username = "adichat";//$('#username');
    var $data = $('#data');
    var repol = [0,0,0,0,0,0,0];

      //$('#submit').on('click', function(e){
      //e.preventDefault();
      $('#data').html('<div id="loader"><img src="<%= asset_path( 'loader.gif' ) %>" alt="loading..."></div>'); 
      var username = "adichat";//$username.val();
      var link1   = 'https://api.github.com/search/issues?q=label:bug+state:open&sort=created&order=desc&page=1&per_page=100';

      requestJSON(link1, function(json) {
        if(json.message === "Not Found" || username == '') {
          $data.html("<h2>The User seems to be hiding in a nutshell</h2>");
        }      
        else {
                    
         var info1 = '<div style="display: inline" class="content">';
                  
          $.getJSON(link1, function(json){
            users_follow = json.items;   
            outputPageContent1();                
          });
         
          function outputPageContent1() {

            if(users_follow.length == 0) { info1 = info1 + '</div>'; }
            else {
              $.each(users_follow, function(index) {
                info1 = info1 + '<div style="display: inline" class="avi"><a href="https://github.com/'+(users_follow[index].url).substr(29)+'" target="_blank"><h3 style="font-size:20px">'+users_follow[index].title+'</h3></a><br><p>Unresolved since <strong>'+users_follow[index].created_at+'</strong></p><br><p>'+users_follow[index].body+'</p><br><p>This issue was opened by <a href="https://github.com/'+(users_follow[index].user.url).substr(29)+'">'+users_follow[index].user.login+'</a></p></div>';               
               
              });
              info1 = info1 + '</div>'; 
            }
            $data.html(info1);         
          } // end outputPageContent1()          

       } // end else statement        

      }); // end requestJSON Ajax call

    }); // end click event handler  

    function requestJSON(url, callback) {
      $.ajax({
        url: url,
        complete: function(xhr) {
          callback.call(null, xhr.responseJSON);
        }
      });
    }

    


</script>
<a id="forkMe" href="https://github.com/AdiChat/Repository-Hunter">Fork me on GitHub</a>
<p id="jj"><a href="https://github.com/AdiChat/Repository-Hunter/wiki/FAQ"><i class="fa fa-question-circle" aria-hidden="true"></i> Need Assistance? View FAQ</a></p>
<p id="jj1"><a href="https://github.com/AdiChat/Repository-Hunter/issues/new"><i class="fa fa-question-circle" aria-hidden="true"></i> Found something suspicious. Open an issue. </a></p>
</body>
</html>
